
body {
    font-family: 'Roboto', serif;
}

#root {
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
}

h1 {
    color: blue;
    font-size: 50px;
    text-align: center;
}

.pic-container {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 300px;
    height: 300px;
    margin: 0 auto;

    &-webpack {
        background: center / cover no-repeat url('./components/some/img/example.png');
        width: 500px;
        height: 500px;
    }

    &-sass {
        background: center / contain no-repeat url('./components/some/img/example1.png');
    }

    &-react {
        background: center / contain no-repeat url('./components/some/img/example2.png');
    }

    &-ts {
        background: center / contain no-repeat url('./components/some/img/example3.png');
    }
}